<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolytechnicMadLibs"
        tools:targetApi="31">
        <activity
            android:name=".LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MadLibsWoolooApocalypseDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".MadLibsWoolooHellDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".MadLibsWoolooMedievalDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MadLibStevesDreamActivity"
            android:exported="false" />
        <activity
            android:name=".MadLibStevesDreamDisplayActivity"
            android:exported="false" />
        <activity android:name=".MadLibsWOOLOO2Activity" />
        <activity android:name=".MadLibsWoolooFantasyDisplayActivity" />
        <activity android:name=".MadLibsWoolooStoryPickerActivity" />
        <activity android:name=".MadLibsNightInTheForestActivity" />
        <activity android:name=".MadLibsNightInTheForestDisplayActivity" />
        <activity android:name=".MadLibJoesActivity" />
        <activity android:name=".MadLibsJoesDisplayActivity" />
        <activity android:name=".MadLibTobysAdventureActivity" />
        <activity android:name=".MadLibTobysAdventureDisplayActivity" />
        <activity android:name=".MadLibDragonSlayerActivity" />
        <activity android:name=".MadLibDragonSlayerDisplayActivity" />
        <activity android:name=".MadLibFoodingActivity" />
        <activity android:name=".MadLibFoodingDisplayActivity" />
        <activity android:name=".MadLibBirthdayPartyActivity" />
        <activity android:name=".MadLibBirthdayPartyDisplayActivity" />
        <activity android:name=".MadLibJomandTerryActivity" />
        <activity android:name=".MadLibJomandTerryDisplayActivity" />
        <activity android:name=".MadLibMuggingActivity" />
        <activity android:name=".MadLibMuggingDisplayActivity" />
        <activity android:name=".MadLibRoadTripActivity" />
        <activity android:name=".MadLibRoadTripDisplayActivity" />
        <activity android:name=".MadLibConcerNightDisplayActivity" />
        <activity android:name=".MadLibConcertNightActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MadLibDisplayActivity" />
        <activity android:name=".MadLibRegularDayActivity" />
        <activity android:name=".MadLibSummerVacationActivity" />
        <activity android:name=".MadLibRafaelActivity" />
        <activity android:name=".MadLibRafaelDisplayActivity" />
        <activity android:name="com.poly.madlibs.MadLibJadenActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>